.chat-screen {
  background-image: url(../images/chat-bg.png);
  min-height: 300vh;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.message__avatar.s-avatar {
  width: 43px;
  height: 43px;
  border-radius: 38%;
  margin-right: 10px;
  animation: spin 1.4s linear infinite;
}
.chat-body {
  margin-top: 87px;
  padding: 0px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  /* centering when position:fixed*/
  margin: 0 auto;
  width: 100%;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    */
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
.chat__write {
  bottom: 0px;
  width: 100%;
  border: 0;
  padding: 15px 45px;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
}
.chat__icon-left {
  position: absolute;
  left: 15px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  padding: 15px 35px;
  transform: translateY(-70px);
  border-radius: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  /*linear = same speed, ease-in-out = slow start & slow end*/
  animation: float 2s linear infinite forwards;
}
.chat__icon {
  transition: opacity 0.22s ease-in-out;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__icon-left i,
.chat__icon-right i {
  font-size: 22px;
}

.chat__write__column:nth-child(2) {
  width: 75%;
}

.chat__write-icon:nth-child(2) {
  margin-left: 14px;
}
.chat-screen .chat__messages {
  border-top: 2px solid #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.line-left {
  margin-right: 15px;
  height: 2px;
  width: 120px;
  background-color: rgb(228, 228, 228);
}
.line-right {
  margin-left: 15px;
  height: 2px;
  width: 120px;
  background-color: rgb(228, 228, 228);
}
.chat__messages .chat__timestamp {
  background-color: white;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;

  text-transform: uppercase;
  font-weight: 600;
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 0px 0px;
  margin-bottom: 20px;
  width: 35%;
}

.incoming-message .message__content,
.outgoing-message .message__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message__author {
  margin-bottom: 7px;
  font-weight: 600;
}
.message .message__bubble {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-content: center;
}
@keyframes incomingAnim {
  from {
    opacity: 0.1;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  padding-left: 7px;
  align-self: flex-start;
  animation: incomingAnim 0.24s linear forwards;
}
@keyframes outgoingAnim {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.outgoing-message {
  padding-left: 30px;
  padding-right: 10px;
  align-self: flex-end;
  animation: outgoingAnim 0.24s linear forwards;
}
.incoming-message .message__bubble {
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #b3ffab, #faffd1);
}
.outgoing-message .message__bubble {
  border-top-right-radius: 0px;
  background-image: linear-gradient(to right, #ffefba, #ffffff);
}
